content-agent-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an Instagram content generator.\n\nUse ONLY this Google Form data.\nDo NOT invent any business, niche, audience, or goal.\n\nBusiness Name: {{ $json[\"Business Name\"] }}\nNiche: {{ $json[\"Niche\"] }}\nMarketing Goal: {{ $json[\"Marketing Goal\"] }}\nTarget Audience: {{ $json[\"Target Audience\"] }}\n\nReturn ONLY valid JSON. No markdown. No explanation.\n\n{\n  \"business\": \"{{ $json[\"Business Name\"] }}\",\n  \"niche\": \"{{ $json[\"Niche\"] }}\",\n  \"audience\": \"{{ $json[\"Target Audience\"] }}\",\n  \"goal\": \"{{ $json[\"Marketing Goal\"] }}\",\n  \"caption\": \"\",\n  \"hooks\": [],\n  \"hashtags\": [],\n  \"image_prompt\": \"\"\n}\n\nRules:\n- business must exactly match the Business Name\n- niche must exactly match the Niche\n- audience must exactly match the Target Audience\n- goal must exactly match the Marketing Goal\n- caption must be for this exact business and niche\n- image_prompt must describe an Instagram product image for this exact business and niche\n- hashtags must be an array\n- hooks must be an array",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        48,
        -64
      ],
      "id": "99a1ed52-045a-488b-9c64-d2cb55f54a92",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -112,
        208
      ],
      "id": "91a54fd4-eec6-46fc-8084-d6af3d6511c9",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "pUavltuIFoJdxvcQ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/black-forest-labs/FLUX.1-schnell",
        "sendHeaders": true,
        "specifyHeaders": "json",
       
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"inputs\": \"{{$json.inputs}}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "binary"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        560,
        -64
      ],
      "id": "f0857007-8113-45b5-9815-7f27d7681f0a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const prompt =\n  ($json.image_prompt || $json.output || \"instagram marketing post\")\n  .toString()\n  .replace(/[\\n\\r\"]/g, \" \");   // 🔥 removes breaking characters\n\nreturn [\n  {\n    json: {\n      inputs: `modern Instagram post about ${prompt}, clean aesthetic, high quality, social media design`\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -64
      ],
      "id": "2c90fe66-5357-457a-b1eb-9c0b8c2442fc",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "uploadFile",
        "file": "binary",
        "resource_type_file": "raw",
        "additionalFieldsFile": {}
      },
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 2,
      "position": [
        720,
        -64
      ],
      "id": "2112be47-7d47-406b-a220-301e936ad322",
      "name": "Upload an asset from file data",
      "credentials": {
        "cloudinaryApi": {
          "id": "f1jjBzl8Mit5nAae",
          "name": "Cloudinary account"
        }
      }
    },
    {
      "parameters": {
        "resource": "post",
        "organizationId": "6a298d4966948a1a5139254a",
        "channelId": "6a298fac8f1d11f9b2714076|instagram",
        "postText": "=const data = $(\"Code in JavaScript1\").item.json;\n\nconst caption = data.caption || \"\";\nconst hashtags = Array.isArray(data.hashtags)\n  ? data.hashtags.join(\" \")\n  : data.hashtags || \"\";\n\nreturn caption + \"\\n\\n\" + hashtags;",
        "attachmentType": "image",
        "imageUrl": "={{ $json.secure_url }}"
      },
      "type": "@bufferapp/n8n-nodes-buffer.buffer",
      "typeVersion": 1,
      "position": [
        928,
        -64
      ],
      "id": "86341add-ec6b-4bb4-9094-80000a7d863f",
      "name": "Create a post",
      "credentials": {
        "bufferApi": {
          "id": "JlTlk1ZWdz8J4SkG",
          "name": "Buffer account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -608,
        -48
      ],
      "id": "1d1e32bf-a550-4e8e-9469-900aaf702d3d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1csU6Hh23kzuY9eHczVzQ18dJ8g4xft7edlkkdX_ZQ8g",
          "mode": "list",
          "cachedResultName": "Insta Form (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1csU6Hh23kzuY9eHczVzQ18dJ8g4xft7edlkkdX_ZQ8g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 104282351,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1csU6Hh23kzuY9eHczVzQ18dJ8g4xft7edlkkdX_ZQ8g/edit#gid=104282351"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -416,
        -48
      ],
      "id": "33e86f0c-b48b-4900-8627-fc94578d4d5d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CnacLx7qwvpxegy5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Find rows where Status is empty\nconst newRows = items.filter(item => {\n  const status = item.json[\"Status\"];\n  return !status || status.trim() === \"\";\n});\n\nif (newRows.length === 0) {\n  return [];\n}\n\n// Pick the latest empty-status row\nconst latestRow = newRows[newRows.length - 1];\n\nreturn [latestRow];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        -48
      ],
      "id": "8b8c2954-8727-421b-8b72-084d8c168f9e",
      "name": "Pick New Form Row"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload an asset from file data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload an asset from file data": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Pick New Form Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pick New Form Row": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2479e99206fe5ff439bfbb20707b3a631af829b404e4db4f55dde3c52dec7311"
  }
}